{% extends "layout.html" %} 

{% block content %}
<div class="container">
  <div class="row">
    <h1>Search</h1>
    {% from "_formhelpers.html" import render_field %}
      <form method=post>
        <dl>
          {{ render_field(form.name) }}
        </dl>
      <p><input type=submit value=Submit>
    </form>
    {% if data %}
      <h1>Search Results</h1>
        <ul>
            {% for item in data %}
                <div class="container">

                    <div class="row">
                        <div class="col-xs-1">
                            <form action="{{ url_for('delete',_id=item._id) }}" method="POST">
                                <button type="submit"class="btn btn-link"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                            </form>
                            <form action="{{ url_for('edit',_id=item._id) }}" method="GET">
                                <button type="submit" class="btn btn-link"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
                            </form>
                        </div>
                        <div class="col-xs-4">
                            <h2>{{item.name}}</h2>
                        </div>
                    </div>

                    <li class="list-group-item">Bin {{ item.bin_number }}</li>
                    <li class="list-group-item">Drawer {{ item.drawer_number }}</li>
                    {# if (item.commment|length > 1) #}
                    <li class="list-group-item">Comment: {{ item.comment }}</li>
                    {# endif #}
                </div>
                <!--<li class="list-group-item">Tags: {{ item.tags }} -->
            {% endfor %}
        </ul>
    {% endif %}
  </div>
</div>
{% endblock %}