{% extends "layout.html" %}
{% block body %}
    <head>
    </head>
    <body>
        <p>Hello, {{ current_user.get_id() }}</p>
        <ul>
            {% for item in user_items %}
                <p>--------------------------------</p>
                <li>{{item.name}}</li>
                <ul>
                {% for tag in item.tags %}
                    <li>{{tag}}</li>
                {% endfor %}
                </ul>

                <li>{{item.bin_number}}</li>
                <li>{{ item.drawer_number}}</li>
                <li>{{ item.comment}}</li>

                <form action="{{ url_for('delete',_id=item._id) }}" method="POST">
                    <input type="submit" value="Delete Item" />
                </form>
                <p>--------------------------------</p>
            {% endfor %}
        </ul>
        
    </body>
{% endblock %}